<!DOCTYPE html>
<html lang="es">

<head>

    <title>Kitty's & Orion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lily+Script+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="estilos2.css">

</head>

<body>
    <header>
        
        <div class="rectangulo-horizontal">
            <img src="https://static.vecteezy.com/system/resources/previews/021/434/401/non_2x/cute-happy-smile-face-playful-kitten-cat-calico-tri-color-cartoon-doodle-hand-drawn-outline-png.png"
                class="imagen1">
            <h1 class="titulo">Kitty's & Orion <p>Tienda para mascotas</p>

            </h1>

            <img src="https://images.vexels.com/media/users/3/344779/isolated/preview/3d2af5ba26adc29267face15fdb9ca18-perro-de-dibujos-animados-de-pie.png"
                class="imagen2">
        </div>

        <div class="rectangulo2">
            <div>
                <button class="boton-inicio-sesion">
                    <a href="Iniciar sesion.html">
                        <p class="fuente-botones"> Iniciar sesion </p>
                    </a>

                </button>

                <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/49800/dog-face-emoji-clipart-md.png"
                    class="imagenperro1">

                <button class="boton-registrarse">
                    <a href="Registrarse.html">
                        <p class="fuente-botones"> Registrarse </p>
                    </a>
                </button>
            </div>

        </div>
    </header>

    <div class="texto-index">
    Bienvenido a Kitty´s & Orion, somos una tienda donde podrás encontrar diferentes productos y juguetes para el peludito de tu hogar, <br>
    a continuación podrás apreciar lo que se encuentra en nuestra tienda, si deseas ver a mas detalle, por favor inicia sesión o registrate <br><br>
    ¡Gracias por preferirnos, espero encuentres todo lo que necesitas!
</div>

    <div class="contenido">
        <div class="accesorios">
            <img src="https://i.pinimg.com/564x/76/33/71/763371dd730ab8dc9cc80bae9dab2803.jpg"
                class="imagen-accesorios">
            <div class="boton-accesorios">
                <a>
                    <p class="fuente-botones1"> Accesorios </p>
                </a>
            </div>
        </div>
        <div class="ropa">
            <img src="https://i.pinimg.com/564x/7b/41/24/7b4124845cd3a267a1126d73856c1b4f.jpg"
                class="imagen-accesorios">
            <div class="boton-ropa">
                <a>
                    <p class="fuente-botones1"> Ropa </p>
                </a>
            </div>
        </div>
        <div class="juguetes">
            <img src="https://i.pinimg.com/564x/67/18/ac/6718ac39c9e132494bbc16924e73f547.jpg"
                class="imagen-accesorios">
            <div class="boton-juguetes">
                <a>
                    <p class="fuente-botones1"> Juguetes </p>
                </a>
            </div>
        </div>
        <div class="comida">
            <img src="https://i.pinimg.com/564x/81/93/23/8193239ed66fcb653428d19d9bb0b352.jpg"
                class="imagen-accesorios">
            <div class="boton-comida">
                <a>
                    <p class="fuente-botones1"> Comida </p>
                </a>
            </div>

        </div>


    </div>



    <div class="rectangulo-pie" style="margin-top: 60px; margin-bottom: 0px; font-size: 25px;">
        <p class="pie-pagina"> Kitty´s & Orion</p>
    </div>


</body>

</html>