<!DOCTYPE html>
<html lang="es">
    <head>

        <title>Mi carrito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lily+Script+One&display=swap"
            rel="stylesheet">
    
        <link rel="stylesheet" href="estilos.css">
        <link rel="stylesheet" href="estilos2.css">
    
    </head>

    <body>
        <header>
            <div class="rectangulo-horizontal">
                <img src="https://static.vecteezy.com/system/resources/previews/021/434/401/non_2x/cute-happy-smile-face-playful-kitten-cat-calico-tri-color-cartoon-doodle-hand-drawn-outline-png.png"
                    class="imagen1">
                <h1 class="titulo">Kitty's & Orion <p>Tienda para mascotas</p>
    
                </h1>
    
                <img src="https://images.vexels.com/media/users/3/344779/isolated/preview/3d2af5ba26adc29267face15fdb9ca18-perro-de-dibujos-animados-de-pie.png"
                    class="imagen2">
            </div>
           
            <div class="rectangulo2">
                <div>
                    <div>
                        <button class="boton">
                            <a href="Productos cliente.html">
                                <p class="fuente-botones"> Productos </p>
                            </a>
                        </button>
    
                       
                        <button class="boton">
                            <a href="Mi carrito.html">
                                <p class="fuente-botones"> Mi carrito </p>
                            </a>
                        </button>
        
                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/49800/dog-face-emoji-clipart-md.png"
                    class="imagen3">
    
        </header>

        <p class="titulo-carrito" style="font-size: 50px;">Mi carrito </p>

    </body>

    
    <div>
        <button class="boton-inicio">
            <a href="Kitty´sOrion.html">
                <p>Volver al inicio </p>
            </a> </button>

    </div>
    
    <div class="rectangulo-pie" style="margin-top: 60px; margin-bottom: 0px; font-size: 25px;">
        <p class="pie-pagina"> Kitty´s & Orion</p>
    </div>

</html>