<!DOCTYPE html>
<html lang="es">
    <head>

        <title>Nuestros productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lily+Script+One&display=swap"
            rel="stylesheet">
    
        <link rel="stylesheet" href="estilos.css">
        <link rel="stylesheet" href="estilos2.css">
    
    </head>

    <body>
        <header>
            <div class="rectangulo-horizontal">
                <img src="https://static.vecteezy.com/system/resources/previews/021/434/401/non_2x/cute-happy-smile-face-playful-kitten-cat-calico-tri-color-cartoon-doodle-hand-drawn-outline-png.png"
                    class="imagen1">
                <h1 class="titulo">Kitty's & Orion <p>Tienda para mascotas</p>
    
                </h1>
    
                <img src="https://images.vexels.com/media/users/3/344779/isolated/preview/3d2af5ba26adc29267face15fdb9ca18-perro-de-dibujos-animados-de-pie.png"
                    class="imagen2">
            </div>
           
            <div class="rectangulo2">
                <div>
                    <div>
                        <button class="boton">
                            <a href="Productos cliente.html">
                                <p class="fuente-botones"> Productos </p>
                            </a>
                        </button>
    
                       
                        <button class="boton">
                            <a href="Mi carrito.html">
                                <p class="fuente-botones"> Mi carrito </p>
                            </a>
                        </button>
        
                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/49800/dog-face-emoji-clipart-md.png"
                    class="imagen3">
    
        </header>
       
    </body>

    <p class="titulo-cliente" style="font-size: 50px;">Nuestros productos</p>

    <div class="cuadro-cliente">
        <img src="https://i.pinimg.com/564x/b8/cd/db/b8cddbd42159b8e1898fa66c7583678c.jpg" class="img-producto">
        <div class="descripcion-cliente">

            <text class="descripcion" style="font-size: 14px; margin-left: 13px; margin-bottom: 14px;">
                Saco para gato <br>
                Precio: $20.000 COP <br>
                Talla: Unica
            </text>
        </div>
    </div>

    <div class="cuadro-cliente1">
        <img src="https://i.pinimg.com/564x/65/d7/2d/65d72d18a2cdf36242998d5336ccf101.jpg" class="img-producto">
        <div class="descripcion-cliente1">
            <text class="descripcion" style="font-size: 14px; margin-left: 13px; margin-bottom: 14px;">
                Transportadora <br>
                Precio: $100.000 COP <br>
                Tamaño: Mediano
            </text>
        </div>
    </div>

    <div class="cuadro-cliente2">
        <img src="https://vaquitaexpress.com.co/media/catalog/product/cache/e89ece728e3939ca368b457071d3c0be/7/7/7702084050201_40.jpg"
            class="img-producto">
        <div class="descripcion-cliente2">
            <text class="descripcion" style="font-size: 14px; margin-left: 13px; margin-bottom: 14px;">
                Comida Dogourmet <br>
                Precio: $30.000 COP <br>
                Cantidad: 10 Kg
            </text>
        </div>
    </div>

    <div class="cuadro-cliente3">
        <img src="https://i.pinimg.com/564x/f5/b8/63/f5b86322e291e15ca3d59375d146eb61.jpg" class="img-producto">
        <div class="descripcion-cliente3">
            <text class="descripcion" style="font-size: 14px; margin-left: 13px; margin-bottom: 14px;">
                Pelota masticable <br>
                Precio: $8.000 COP <br>
                Tamaño: Mediano
            </text>
        </div>
    </div>
     <form>

        <button class="boton-de-compra"> Añadir al carrito </button>

        <button class="boton-de-compra1"> Añadir al carrito </button>
   
        <button class="boton-de-compra2"> Añadir al carrito </button>

        <button class="boton-de-compra3"> Añadir al carrito </button>
        
     </form>
       
    <div>
        <button class="boton-inicio">
            <a href="Kitty´sOrion.html">
                <p>Volver al inicio </p>
            </a> </button>

    </div>

    <div class="rectangulo-pie" style="margin-top: 60px; margin-bottom: 0px; font-size: 25px; margin-top: 250px;">
        <p class="pie-pagina"> Kitty´s & Orion</p>
    </div>

    

</html>