<!DOCTYPE html>
<html lang="es">

    <head>
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lily+Script+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="estilos2.css">     
    </head>

    <body>

        <header>
            <div class="rectangulo-horizontal">
                <img src="https://static.vecteezy.com/system/resources/previews/021/434/401/non_2x/cute-happy-smile-face-playful-kitten-cat-calico-tri-color-cartoon-doodle-hand-drawn-outline-png.png"
                    class="imagen1">
                <h1 class="titulo">Kitty's & Orion <p>Tienda para mascotas</p>
        
                </h1>
        
                <img src="https://images.vexels.com/media/users/3/344779/isolated/preview/3d2af5ba26adc29267face15fdb9ca18-perro-de-dibujos-animados-de-pie.png"
                    class="imagen2">
            </div>

        </header>

        <p class="titulo-registro" style="font-size: 50px;">Registro</p>
    </body>


    <form>

        <div class="texto-registro">
            Nombres
        </div>
        <input type="text" class="iniciar"> <br><br>

        <div class="texto-registro">
            Apellidos
        </div>
        <input type="text" class="iniciar">  <br><br>

        <div class="texto-registro">
            Correo Electronico
        </div>
        <input type="email" class="iniciar">  <br><br>

        <div class="texto-registro">
            Contraseña <br>
            (mÍnimo 8 caracteres con letras y números)
        </div>
        <input type="password" class="iniciar"> <br><br>

        <div class="texto-registro">
            Rol
        </div>
        <select class="desplegable">
            <option value="null">Elije una opción...</option>
            <option value="administrador">Administrador</option>
            <option value="cliente">Cliente</option>
        </select> <br><br>

        <button type="Registrarse" class="boton-de-registro"> Registrarse </button>
    
    </form>

    <div>
        <button class="boton-volver">
            <a href="Kitty´sOrion.html">
                <p>Volver al inicio </p>
            </a> </button>
    
    </div>
    
<img src="https://fcbk.su/_data/stickers/pusheen/pusheen_00.png"
  class="imagen-registro">


<div class="rectangulo-pie" style="margin-top: 250px; margin-bottom: 0px; font-size: 25px;">
    <p class="pie-pagina"> Kitty´s & Orion</p>
</div>

</html>